*{
	/* margin: 0px; */
	/* padding: 0px; */
	text-decoration: none;
}
body{
	background-color: cadetblue;
	/* text-align: center; */
	line-height: 40px;
}
h2{
	text-align: center;
	
}
#box{
	margin: 0 auto;
	width: 800px;
	height: 1000px;
	background-color: white;
}